@import domain.Phone
@import scala.collection.mutable.ArrayBuffer

@(listOfPhones: ArrayBuffer[Phone])

@parts.common("Phonebook page"){
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Phone number</th>
            </tr>
        </thead>
        <tbody>
            @for(phone <- listOfPhones) {
                @if(phone != null) {
                    <tr>
                        <th>@phone.getId</th>
                        <th>@phone.getPhoneNumber</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
}